<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450132682236-7hblinl8bf6gh6dvti54l9c92ve8fkub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450132682236-7hblinl8bf6gh6dvti54l9c92ve8fkub</string>
	<key>API_KEY</key>
	<string>AIzaSyDRPuE83ZlZ8PNmt832Ab4a1jq1n5bPEs4</string>
	<key>GCM_SENDER_ID</key>
	<string>450132682236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.uihrsw0228.HerbalStore</string>
	<key>PROJECT_ID</key>
	<string>herbalstore-c4e5d</string>
	<key>STORAGE_BUCKET</key>
	<string>herbalstore-c4e5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450132682236:ios:55c158724a96b811f13e79</string>
</dict>
</plist>